</br>

  <div class="pad <%= @api_color %>">
  <h1 style="margin-left: 20px;"><%= @final_output %></h1>

  <p class="lead justify-text">
    <%= @api_message %></br>
    This is the current ozone air quality for <%= @xyz %> zipcode
  </p>
  </br>
  </div>
